/* ====== GLOBAL ====== */

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.button {
  background-color: #ee3643;
  border-radius: 2px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* ====== INDEX PAGE ====== */

/* === HEADER === */

header {
  background-color: #f3f7f9;
}

.header-top {
  min-height: 42px;

  background-color: #293449;
}

.header-top .container {
  position: relative;

  display: flex;
  justify-content: flex-end;
}

.header-top a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.user-navigation {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation li {
  padding-top: 10px;
  padding-bottom: 12px;
  width: 150px;
  box-sizing: border-box;
}

.user-navigation li:hover,
.user-navigation li:focus {
  background-color: #212a3a;
}

.user-navigation li:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.user-navigation a:active {
  color: rgba(255, 255, 255, 0.6);
}

.user-navigation .bookmark,
.user-navigation .cart {
  padding-left: 45px;
}

.user-navigation .checkout {
  text-align: center;
}

.user-navigation input {
  width: 270px;
  height: 42px;
  padding: 10px 20px 12px 50px;
  box-sizing: border-box;

  font: inherit;
  font-size: 17px;
  line-height: 18px;

  background-color: transparent;
  background-image: url(../img/icon/search-grey.svg);
  background-repeat: no-repeat;
  background-position: 17px 12px;
  border: none;
  outline: none;
}

.user-navigation input:hover {
  background-color: #212a3a;
  background-image: url(../img/icon/search.svg);
}

.user-navigation input:focus {
  background-color: #ffffff;
  background-image: url(../img/icon/search-red.svg);
}

.user-navigation input::placeholder {
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.user-navigation-current {
  background-color: #ee3643;
}

.user-navigation .bookmark {
  background-image: url(../img/icon/bookmark.svg);
  background-repeat: no-repeat;
  background-position: 17px 12px;
}

.user-navigation .bookmark:hover,
.user-navigation .bookmark:focus {
  background-image: url(../img/icon/bookmark-white.svg);
  background-repeat: no-repeat;
  background-position: 17px 12px;
}

.user-navigation .bookmark:active {
  background-image: url(../img/icon/bookmark-active.svg);
  background-repeat: no-repeat;
  background-position: 17px 12px;
}

.user-navigation .cart {
  background-image: url(../img/icon/cart.svg);
  background-repeat: no-repeat;
  background-position: 17px 12px;
}

.user-navigation .cart:hover,
.user-navigation .cart:focus {
  background-image: url(../img/icon/cart-hover.svg);
  background-repeat: no-repeat;
  background-position: 17px 12px;
}

.user-navigation .cart:active {
  background-image: url(../img/icon/cart-active.svg);
  background-repeat: no-repeat;
  background-position: 17px 12px;
}

.user-navigation .checkout {
  background-color: #63a63e;
}

.user-navigation .checkout:hover,
.user-navigation .checkout:focus {
  background-color: #5fbb2d;
}

.user-navigation .checkout:active {
  background-color: #518534;
}

.user-navigation .checkout:active a {
  color: rgba(255, 255, 255, 0.5);
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  width: 220px;
  height: 47px;
  padding-top: 10px;
  box-sizing: border-box;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.header-logo-text {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.header-bottom {
  background-color: #f4f7f9;
}

.header-middle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 158px;
}

.header-bottom p {
  margin: 0;
}

.header-description {
  width: 300px;
  padding-left: 50px;

  font-style: italic;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
}

.header-middle-row .header-contacts {
  margin-right: 70px;
}

.header-contacts-tel {
  display: block;
  width: 270px;
  padding: 10px 15px;
  box-sizing: border-box;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-align: center;

  background-image: url(../img/icon/phone.svg);
  background-repeat: no-repeat;
  background-position: 15px 11px;
  border: 3px solid #ffffff;
}

.header-contacts-address {
  display: block;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.header-login {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.header-login li {
  min-height: 45px;
  box-sizing: border-box;

  text-align: center;

  background-color: #ffffff;
}

.header-login li:first-child {
  width: 121px;
  margin-right: 10px;

  background-image: url(../img/icon/login-grey.svg);
  background-repeat: no-repeat;
  background-position: 15px 13px;
}

.header-login li:first-child:hover {
  background-image: url(../img/icon/login.svg);
  background-repeat: no-repeat;
  background-position: 15px 13px;
}

.header-login li:first-child:active {
  background-image: url(../img/icon/login-grey.svg);
  background-repeat: no-repeat;
  background-position: 15px 13px;
}

.header-login li:nth-child(2) {
  width: 150px;
}

.header-login a {
  display: block;
  padding: 12px 15px;

  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.enter a {
  padding-left: 48px;
}

.header-login a:hover,
.header-login a:focus {
  color: #ee3643;
}

.header-login a:active {
  color: #c5c5c5;
}

.site-navigation {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.site-navigation a {
  display: block;
  padding: 20px 30px;

  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.site-nav-option:first-child a {
  padding-left: 50px;
}

.site-nav-option:last-child a {
  padding-right: 50px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/* === PROMO === */

.promo-goods,
.promo-slider,
.promo-advantage {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-goods {
  display: flex;
  justify-content: space-between;
}

.promo-goods li,
.promo-advantage li {
  width: 300px;
}

.promo-item h3,
.promo-advantage-item h3 {
  margin: 0;

  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.promo-item a,
.promo-advantage-item a {
  display: block;
  width: 135px;

  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;

  background-color: rgba(0, 0, 0, 0.1);
}

.promo-goods li:first-child {
  background-color: #ffbf47;
}

.promo-goods li:nth-child(2) {
  background-color: #3bbce3;
}

.promo-goods li:last-child {
  background-color: #dc91d8;
}

.promo-wrapper {
  display: flex;
  justify-content: space-between;
}

.promo-advantage li:first-child {
  background-color: #8ed78f;
}

.promo-advantage li:last-child {
  background-color: #ffc047;
}

.promo-slide {
  width: 620px;
  height: 265px;
}

.promo-slide h3 {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.promo-slide p {
  color: #ffffff;
  line-height: 24px;
}

.promo-slide a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.promo-slider li:first-child {
  background-color: #f4f8f9;
  background-image: url(../img/items-slide1.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo-slider li:nth-child(2) {
  background-color: #f4f8f9;
  background-image: url(../img/items-slide2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* === POPULAR GOODS === */

.goods-heading-wrapper {
  display: flex;
  justify-content: space-between;

  background-color: #f9f5f0;
}

.goods-heading-wrapper h2 {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.goods-heading-wrapper a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  width: 220px;

  border: 1px solid #eaeaea;
}

.catalog-item h3 {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.catalog-item .old-price,
.catalog-item .price {
  display: block;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
}

.catalog-item .old-price {
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;

  width: 120px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;

  color: #ffffff;

  background-color: #ee3643;
  border-radius: 2px;
}

.price::before {
  content: "";

  position: absolute;
  top: 6px;
  right: -13px;
  z-index: -1;

  width: 26px;
  height: 26px;

  background-color: #ee3643;

  transform: rotate(-45deg);
}

.catalog-item-hover {
  margin: 0;

  width: 220px;
}

.hover-button  {
  display: block;

  width: 135px;
  margin: 0 auto;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button-buy  {
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: 0 3px 0 0 #377416;
  border: none;
  border-radius: 2px;
}

.button-buy:hover,
.button-buy:focus {
  background-color: #5fbb2d;
}

.button-buy:active {
  background-color: #518534;
}

.button-bookmark {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.button-bookmark:hover,
.button-bookmark:focus {
  border-color: #32425c;
}

.button-bookmark:active {
  border-color: #c1c6ce;
}

/* === POPULAR MANUFACTURER === */

.manufacturer-heading-wrapper {
  display: flex;
  justify-content: space-between;

  background-color: #f9f5f0;
}

.popular-manufacturer h2 {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.manufacturer-heading-wrapper a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.manufacturer-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.manufacturer-list li {
  width: 220px;
  height: 145px;

  border: 1px solid #eaeaea;
}

/* === SERVICES === */

.services {
  background-color: #f5f8fa;
}

.services h2 {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-wrapper {
  display: flex;
}

.services-slider-toggle {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.services-slider-toggle::before {
  content: "";

  position: absolute;
  top: -50px;
  left: 230px;

  width: 10px;
  height: 279px;

  background-image: url(../img/services-shadow.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.toggle-item {
  width: 240px;
  padding: 15px 20px;
  box-sizing: border-box;

  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;

  background-color: #32425c;
  border-bottom: 1px solid #4d637b;
}

.toggle-item-current {
  color: #32425c;

  background-color: #ffffff;
}

.services-slider {
  margin: 0;
  padding: 0;
  width: 700px;

  list-style: none;
}

.services-slider h3 {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services-slider p {
  margin: 0;
}

.services-slider a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

/* === INFO === */

.info {
  display: flex;
}

.info h2 {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.info p {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.info a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.transport-company {
  margin: 0;
  padding: 0;

  list-style: none;
}

.transport-company li {
  position: relative;

  margin-bottom: 20px;
  padding-left: 35px;

  line-height: 20px;
}

.transport-company li:last-child {
  margin-bottom: 0;
}

.transport-company li::before {
  content: "";

  position: absolute;
  bottom: 50%;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

/* === FOOTER === */

.footer-navigation {
  background-color: #32425c;
}

.footer-navigation .container {
  display: flex;
}

.footer-logo {
  display: flex;
  justify-content: center;
  width: 220px;
  height: 68px;
  padding-top: 17px;
  box-sizing: border-box;

  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.footer-navigation p {
  margin: 0;

  color: #ffffff;
}

.footer-site-navigation {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-site-navigation a {
  color: #ffffff;
}

.footer-bottom-navigation a {
  color: #ffd180;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
}

.copyright {
  margin: 0;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contact-email {
  margin: 0;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.contact-email a {
  color: #ffd180;
}

/* ====== CATALOG PAGE ====== */

/* === HEADER === */

.header-login input {
  background-color: #ffffff;

  color: #000000;
  font: inherit;
  font-size: 21px;
  line-height: 21px;

  border: none;
}

.header-login input::placeholder {
  color: #000000;
  font: inherit;
  font-size: 21px;
  line-height: 21px;
}

.authorized-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.authorized-list a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;

  text-decoration: underline;
}

/* === MAIN === */

.breadcrumb {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumb li {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.inner-heading {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

/* === FILTER === */

.filter h2 {
  margin: 0;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter-form .filter-charging {
  border-bottom: none;
}

.filter-form legend {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-manufactur-list,
.filter-charging-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-manufactur-list label,
.filter-charging-list label{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {
  border-color: #bdc6ca;
}

.filter-button:active {
  border-color: #ee3643;
}

/* === CATALOG === */

.sort {
  background-color: #f7f3ec;
}

.sort h2 {
  margin-left: 0;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-by-category,
.sort-by-priority {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-by-category a,
.sort-by-priority a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  border-bottom: 1px dotted #ee3643;
}

.sort-item-current a {
  color: #ee3643;

  border-bottom: none;
}

.pagination-list {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  list-style: none;
}

.pagination-item {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-item a {
  color: #000000;
}

.pagination-item:hover,
.pagination-item:focus {
  border-color: #bdc6ca;
}

.pagination-item:active {
  border-color: #ee3643;
}

.pagination-item-current {
  background-color: #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
}

/* === CATALOG INFO === */

.catalog-info {
  background-color: #f2f6f8;
}

.catalog-info h2 {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-info p {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
