/* ====== GLOBAL ====== */

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: #ee3643;
  border-radius: 2px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* ====== INDEX PAGE ====== */

/* === HEADER === */

.header-top {
  background-color: #293449;
}

.header-top a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.user-navigation input {
  font: inherit;
  font-size: 17px;
  line-height: 18px;

  background-color: transparent;
  border: none;
}

.user-navigation input::placeholder {
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.main-header-logo {
  display: flex;
  justify-content: center;
  width: 220px;
  height: 45px;
  padding-top: 10px;
  box-sizing: border-box;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.header-logo-text {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-bottom {
  background-color: #f4f7f9;
}

.header-bottom p {
  margin: 0;
}

.header-description {
  font-style: italic;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
}

.header-contacts-tel {
  display: block;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-contacts-address {

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-login {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-login a {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.site-navigation {
  margin: 0;
  padding-left: 0;

  list-style: none;
  background-color: #32425c;
}

.site-navigation a {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

/* === PROMO === */

.promo-goods,
.promo-slider,
.promo-advantage {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-goods li,
.promo-advantage li {
  width: 300px;
}

.promo-item h3,
.promo-advantage-item h3 {
  margin: 0;

  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.promo-item a,
.promo-advantage-item a {
  display: block;
  width: 135px;

  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;

  background-color: rgba(0, 0, 0, 0.1);
}

.promo-goods li:first-child {
  background-color: #ffbf47;
}

.promo-goods li:nth-child(2) {
  background-color: #3bbce3;
}

.promo-goods li:last-child {
  background-color: #dc91d8;
}

.promo-advantage li:first-child {
  background-color: #8ed78f;
}

.promo-advantage li:last-child {
  background-color: #ffc047;
}

.promo-slide {
  width: 620px;
  height: 265px;
}

.promo-slide h3 {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.promo-slide p {
  color: #ffffff;
  line-height: 24px;
}

.promo-slide a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.promo-slider li:first-child {
  background-color: #f4f8f9;
  background-image: url(../img/items-slide1.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo-slider li:nth-child(2) {
  background-color: #f4f8f9;
  background-image: url(../img/items-slide2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* === POPULAR GOODS === */

.goods-heading-wrapper {
  background-color: #f9f5f0;
}

.goods-heading-wrapper h2 {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.goods-heading-wrapper a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  width: 220px;

  border: 1px solid #eaeaea;
}

.catalog-item h3 {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.catalog-item .old-price,
.catalog-item .price {
  display: block;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
}

.catalog-item .old-price {
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;

  width: 120px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;

  color: #ffffff;

  background-color: #ee3643;
  border-radius: 2px;
}

.price::before {
  content: "";

  position: absolute;
  top: 6px;
  right: -13px;
  z-index: -1;

  width: 26px;
  height: 26px;

  background-color: #ee3643;

  transform: rotate(-45deg);
}


.catalog-item-hover {
  margin: 0;

  width: 220px;
}

.hover-button  {
  display: block;

  width: 135px;
  margin: 0 auto;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button-buy  {
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: 0 3px 0 0 #377416;
  border: none;
  border-radius: 2px;
}

.button-buy:hover,
.button-buy:focus {
  background-color: #5fbb2d;
}

.button-buy:active {
  background-color: #518534;
}

.button-bookmark {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.button-bookmark:hover,
.button-bookmark:focus {
  border-color: #32425c;
}

.button-bookmark:active {
  border-color: #c1c6ce;
}

/* === POPULAR MANUFACTURER === */

.manufacturer-heading-wrapper {
  background-color: #f9f5f0;
}

.popular-manufacturer h2 {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.manufacturer-heading-wrapper a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.manufacturer-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.manufacturer-list li {
  width: 220px;
  height: 145px;

  border: 1px solid #eaeaea;
}

/* === SERVICES === */

.services {
  background-color: #f5f8fa;
}

.services h2 {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-slider-toggle {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.services-slider-toggle::before {
  content: "";

  position: absolute;
  top: -50px;
  left: 230px;

  width: 10px;
  height: 279px;

  background-image: url(../img/services-shadow.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.toggle-item {
  width: 240px;
  padding: 15px 20px;
  box-sizing: border-box;

  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;

  background-color: #32425c;
  border-bottom: 1px solid #4d637b;
}

.toggle-item-current {
  color: #32425c;

  background-color: #ffffff;
}

.services-slider {
  margin: 0;
  padding: 0;
  width: 700px;

  list-style: none;
}

.services-slider h3 {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services-slider p {
  margin: 0;
}

.services-slider a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

/* === INFO === */

.info h2 {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.info p {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.info a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.transport-company {
  margin: 0;
  padding: 0;

  list-style: none;
}

.transport-company li {
  position: relative;

  margin-bottom: 20px;
  padding-left: 35px;

  line-height: 20px;
}

.transport-company li:last-child {
  margin-bottom: 0;
}

.transport-company li::before {
  content: "";

  position: absolute;
  bottom: 50%;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

/* === FOOTER === */

.footer-navigation {
  background-color: #32425c;
}

.footer-logo {
  display: flex;
  justify-content: center;
  width: 220px;
  height: 68px;
  padding-top: 17px;
  box-sizing: border-box;

  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.footer-navigation p {
  margin: 0;

  color: #ffffff;
}

.footer-site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-site-navigation a {
  color: #ffffff;
}

.footer-bottom-navigation a {
  color: #ffd180;
}

.footer-bottom {
  background-color: #293449;
}

.copyright {
  margin: 0;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contact-email {
  margin: 0;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.contact-email a {
  color: #ffd180;
}
